@import "../../styles/mixins";

.offert {
  height: 100%;
  min-height: 800px;
  position: relative;
}

.introduction {
  background-color: #fff;
  display: flex;
  min-height: 450px;

  padding: 2rem 10rem 0 10rem;
  gap: 2rem;

  @include mediaQ(xxxl) {
    padding: 5rem 5rem 0 5rem;
  }

  @include mediaQ(xxl) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(lg) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(md) {
    display: flex;
    // flex-direction: column;
    padding: 3rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(sm) {
    padding: 5rem 1.5rem 0 1.5rem;
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;

  @include mediaQ(md) {
    max-width: 100%;
  }

  &__heading {
    font-size: 3rem;
    &--secondary {
      color: var(--c-primary);
      font-size: 1rem;
    }
  }

  &__description {
    padding: 2rem 0;
    font-size: 1.3rem;
  }

  &__button {
    color: white;
    background-color: var(--c-primary);
    padding: 1rem 2rem;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.3rem;
    width: 220px;
    &:hover {
      transform: skewY(1deg) scale(1.1);
      background-color: white;
      color: var(--c-primary);
      border-color: var(--c-primary);
    }
  }
}

.image {
  width: 500px;
  max-height: 550px;

  @include mediaQ(md) {
    width: 115%;
    display: flex;
    align-self: flex-end;
  }

  @include mediaQ(sm) {
    width: 100%;
    max-height: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.tags-strip {
  background-color: var(--c-primary);
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mediaQ(md) {
    height: 220px;
    align-items: flex-start;
    justify-content: start;
    padding-left: 1.5rem;
  }
}

.tags-strip-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  @include mediaQ(md) {
    flex-direction: column;
    height: 100%;
    align-items: start;
  }

  &__item {
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include mediaQ(sm) {
      align-self: start;
    }
  }
}

.plan {
  padding: 2rem 10rem 2rem 10rem;
  position: relative;

  @include mediaQ(xxxl) {
    padding: 5rem 5rem 0 5rem;
  }

  @include mediaQ(xxl) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(lg) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(md) {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(sm) {
    padding: 5rem 1.5rem 0 1.5rem;
    flex-direction: column;
  }
  &__heading {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: var(--c-primary);

    font-size: 2rem;
  }

  &__heading-secondary {
    font-size: 1rem;
    padding-bottom: 3rem;
    font-weight: 500;
  }
  &__content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 20px 0;

    @include mediaQ(md) {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin: 16px 0;
      min-height: unset !important;
    }

    @include mediaQ(sm) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
