.certificate {
  padding: 0.5rem;
  height: auto;
  transition: all 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-perspective: 200px;
  perspective: 200px;

  img {
    width: 100%;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    background-color: #fff;
    box-sizing: border-box;
    will-change: transform;
    -moz-perspective: 200px;
    perspective: 200px;
  }
  &--open {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 10;
    -moz-perspective: 200px;
    perspective: 200px;
  }
}
