$media: (
  xsm: 400px,
  sm: 480px,
  md: 900px,
  lg: 1024px,
  xxl: 1250px,
  xxxl: 1536px,
  monster: 1930px,
);

// 3840 x 2160 pixel

@mixin mediaQ($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}

@mixin mediaUp($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin mainRWD {
  padding: 5rem 10rem 0 10rem;
  gap: 2rem;
  @include mediaQ(xxxl) {
    padding: 5rem 5rem 0 5rem;
  }

  @include mediaQ(xxl) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(lg) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(md) {
    display: flex;
    padding: 3rem 1.5rem 0 1.5rem;
  }

  @include mediaQ(sm) {
    padding: 5rem 1.5rem 5rem 1.5rem;
  }
}

@mixin secondaryRWD {
  padding: 0rem 10rem 0 10rem;
  gap: 2rem;
  @include mediaQ(xxxl) {
    padding: 0rem 5rem 0 5rem;
  }

  @include mediaQ(xxl) {
    padding: 0 1.5rem 0 1.5rem;
  }

  @include mediaQ(lg) {
    padding: 0 1.5rem 0 1.5rem;
  }

  @include mediaQ(md) {
    display: flex;
    padding: 0 1.5rem 0 1.5rem;
  }

  @include mediaQ(sm) {
    padding: 0 1.5rem 0 1.5rem;
  }
}
