---
import Layout from "../layouts/Layout.astro";
import { Landing } from "../components/landing/Landing";
import { Container } from "../components/container/Container";
import { FloatingCard } from "../components/floating-card/FloatingCard";
---

<Layout title="UMAMI - Dietetyk Aleksandra Kajstura">
  <Container>
    <Landing />
    <div style="display: flex; padding: 3rem">
      <FloatingCard />
    </div>
  </Container>
</Layout>
