@import "../../styles/mixins";
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  z-index: 999;
  padding: 3rem;
  border-radius: 6px;

  @include mediaUp(monster) {
    padding: 6rem;
  }

  &__close {
    font-size: 1.7rem;
    position: absolute;
    right: 8px;
    top: 8px;

    @include mediaUp(monster) {
      font-size: 3rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  @include mediaQ(sm) {
    width: 90%;
  }
}

.contact__form {
  width: 1300px;
  height: 750px;
}
