@import "../../styles//mixins";
.container {
  position: relative;
  min-height: 600px;
  padding: 1.5rem 10rem 0 10rem;
  z-index: 10;
  background-color: #f7f7f7;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__inner-element {
    position: absolute;
    bottom: -2rem;
    left: -20rem;
    width: 25rem;
    height: 25rem;

    @include mediaQ(xxxl) {
      width: 24rem;
      height: 24rem;
    }

    @include mediaQ(lg) {
      width: 13rem;
      height: 13rem;
      left: 10%;
      top: -20%;
    }

    @include mediaQ(md) {
      display: none;
    }

    border-radius: 100rem;

    border: 1px solid var(--c-primary);
    &::after {
      position: absolute;

      content: "";

      width: 98%;
      height: 98%;
      opacity: 0.7;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--c-primary);
      border-radius: 100rem;
    }
  }

  @include mediaQ(xxxl) {
    padding: 1rem 5rem;
  }

  @include mediaQ(lg) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  @include mediaUp(monster) {
    padding: 3.5rem 25rem 0 25rem;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;

    background-color: white;

    @include mediaQ(md) {
      clip-path: none;
    }
  }
}

.introduction {
  padding: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 70%;

  @include mediaQ(md) {
    width: 60%;
  }

  @include mediaQ(sm) {
    width: 100%;
  }

  @include mediaUp(monster) {
    gap: 2rem;
  }

  &__heading {
    padding: 2rem 0;
    width: 100%;

    &--h2 {
      font-size: 4.32rem;

      @include mediaUp(monster) {
        font-size: 6.32rem;
      }

      @include mediaQ(sm) {
        font-size: 4rem;
      }
    }
    &--highlight {
      font-size: 3rem;
      @include mediaUp(monster) {
        font-size: 4rem;
      }
    }
  }
  &__content {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    font-family: "Lato";

    @include mediaUp(monster) {
      font-size: 2.4rem;
      max-width: 90%;
      line-height: 3rem;
    }
  }
  &__highlight {
    font-family: "Lato";
    padding: 0.2rem 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 600;

    @include mediaQ(md) {
      padding: 1rem 0;
      font-size: 1.4rem;
      text-align: center;
    }
  }
  &__list {
    font-family: "Lato";
    font-weight: 300;
    padding-left: 1.3rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

.photo {
  display: flex;
  align-items: flex-start;
  width: 30%;
  background: var(--c-primary);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  height: 600px;

  @include mediaUp(monster) {
    height: 900px;
  }
  @include mediaQ(md) {
    width: 40%;
    height: 100%;
    align-self: end;
  }

  @include mediaQ(sm) {
    height: 600px;
    width: 100%;
  }

  ::after {
    content: "";
    width: 100%;
    height: 100%;
  }
  @include mediaQ(xxl) {
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
