@import "../../styles/mixins";
.quote {
  min-height: 350px;
  width: 100%;
  position: relative;
  padding: 4rem 10rem 4rem 10rem;
  display: flex;

  @include mediaQ(xxxl) {
    padding: 1rem 5rem;
  }

  @include mediaQ(xxl) {
    padding: 5rem 1.5rem 5rem 1.5rem;
  }

  @include mediaQ(lg) {
    padding: 5rem 1.5rem 5rem 1.5rem;
  }

  @include mediaUp(monster) {
    padding: 4rem 25rem 4rem 25rem;
  }
  &__background {
    opacity: 0.2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url("/assets/breakfast.jpg");

    @include mediaUp(monster) {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.box {
  display: flex;
  align-items: center;
  text-align: center;
  &__quote {
    font-size: 3rem;
    font-weight: 600;

    @include mediaQ(sm) {
      font-size: 2rem;
    }
  }

  &__content {
    font-weight: 600;
  }
}
