@import "../../../styles/mixins";

.card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 16.75rem;

  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s;

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  gap: 1rem;
  font-weight: 300;

  @include mediaQ(xxxl) {
    width: 17%;
  }

  @include mediaQ(xxl) {
    width: 40%;
  }

  @include mediaQ(md) {
    width: 45%;
  }

  @include mediaQ(sm) {
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__icon {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    @include mediaQ(lg) {
      font-size: 1.7rem;
    }
  }
  &__description {
    text-align: center;
    font-family: "Lato";
    font-size: 1.2rem;

    @include mediaQ(lg) {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
