@import "../../../styles/mixins";

$sub-color: grey;

$radius: 0.5rem;

.column-left {
  width: 135px;
  min-height: 40px;
  line-height: 40px;
  padding: 0 20px;
  @include mediaUp(monster) {
    width: 270px;
  }

  @include mediaQ(sm) {
    padding: 0;
    width: 110px;
  }
}

.column-right {
  display: block;
  width: calc(100% - 135px);
  line-height: 40px;
}

.form-group {
  padding: 1rem;
  display: flex;

  @include mediaQ(sm) {
    padding: 1rem 0;
  }
}

.form-input {
  padding: 0.4rem;
  padding-left: 0.4rem;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid $sub-color;
  position: relative;
  background-color: transparent;
  z-index: 10;
  outline: none;
  font-weight: 300;
  font-family: "Lato";
  border-radius: 3px;

  @include mediaUp(monster) {
    font-size: 2.4rem;
    max-width: 450px;
    padding-left: 0.4rem;
  }

  &:hover {
    border-color: var(--c-secondary);
  }

  &:focus {
    border-color: var(--c-primary);
  }
}
.form-label {
  font-size: 1.2rem;
  font-weight: 500;

  @include mediaUp(monster) {
    font-size: 2.4rem;
  }
}
.error-message {
  color: red;
  font-size: 0.7rem;
  z-index: 10;
  @include mediaUp(monster) {
    font-size: 1.9rem;
  }
}

.my-1 {
  padding-left: 2.25rem;

  @include mediaQ(sm) {
    padding: 1rem 0;
  }
}
