@import "../../../styles/mixins";

.panel {
  width: 100%;
  position: static;
  margin-top: 1rem;

  &__label {
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 7px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    min-height: 70px;
    &--icon {
      flex-grow: 0;
      flex-shrink: 0;
    }

    &--title {
      color: #000;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 27px;
      width: 100%;
    }

    &--chevron {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.panel__content {
  background-color: #f7f7f7;
  border-radius: 4;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 27px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  white-space: pre-line;
}

.panel__content[data-help-card-content-expanded="true"] {
  margin-top: 1rem;
  max-height: 600px;
  padding: 1rem;

  .panel__label--title {
    color: var(--c-primary);
  }
}
.list {
  &__title {
    padding: 0.5rem 0;
    font-weight: 600;
  }
  &__items {
    display: flex;
    flex: 1;
    gap: 4rem;
    padding: 0 1rem;

    @include mediaQ(sm) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &--1 {
    min-width: 30%;
  }
}
